<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abhishek Mishra</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <!-- Navabr here  -->
    <%-include('../partiels/nav.ejs')%>
    <!--  Mid part here  -->
    <div class="form-here col-md-6">
      <form action="/allStudent" method="post">
        <label for="" class="form-label">Enter Here Your Name</label>
        <input type="text" class="form-control" name="stname" />
        <label for="" class="form-label">Enter Here Your Email</label>
        <input type="text" class="form-control" name="stmail" />
        <label for="" class="form-label">Enter Here Your Mob:</label>
        <input type="number" class="form-control" name="stmob" />
        <button class="btn btn-primary form-control mt-2">Add Student</button>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
